.prismaticBurstContainer {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.prismaticBurstContainer canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
}